body {
}

@{
    ViewData["Title"] = "Khuyến mãi Oxford";
}
<div class="container text-center mt-5">
    <h1 class="display-4">Mừng NXB Oxford</h1>
    <p class="lead">Trang này sẽ hiển thị các sách khuyến mãi của NXB Oxford.</p>
</div>