@{
    ViewData["Title"] = "Sách Mới";
}
<div class="container text-center mt-5">
    <h1 class="display-4">Trang Sách Mới</h1>
    <p class="lead">Trang này sẽ hiển thị các đầu sách mới nhất.</p>
</div>